.App {
  text-align: center;
}

.outer-form {
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-signin {
  max-width: 400px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.btn-color {
  background-color: #000;
  color: #fff;
  border: 3px solid black;
}

.btn-color:hover {
  background-color: #fff;
  color: #000;
  border: 3px solid;
}
body {
  background-color: #fbfbfb;
}
@media (min-width: 991.98px) {
  main {
    padding-left: 240px;
  }
}

.sidenav {
  position: absolute;
  left: 0px;
  top: 56px;
  bottom: 72px;
  z-index: 103;
  width: 250px;
}
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 58px 0 0; /* Height of navbar */
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
  width: 240px;
  z-index: 600;
}

.home {
  top: 7%;
  left: 23%;
}

@media (max-width: 991.98px) {
  .sidebar {
    width: 100%;
  }
}
.sidebar .active {
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}
